.Rproj.user
.Rhistory
*.RData
.Ruserdata
.Renviron
.gitconfig
extra_data/
NZ_DEM_15m
Terrain_Derived/
Sentinel2-Pre/
*.qgz
ref_data/nz-*
*.zip
*update*
.Renviron*
niwa*
*.sgrd
*.sdat
*.mgrd
channel*
*vdcn.tiff
*_cache
manuscript/
.httr-oauth
*.Rproj